configparser
opencv-python
SpeechRecognition
requests
wikipedia
pyttsx3
pyjokes
psutil
pyautogui
requests
beautifulsoup4
transformers
groq
edge-tts
pygame
pynput
newsapi-python
pytube
youtube-search-python
speedtest-cli
flask
